@charset "UTF-8";

body {
    background-color: #ababff;
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px #0000005b;
}

footer {
    color: white;
    text-align: center;
}

div {
    text-align: center;
}

div#foto {
    position: relative;
    left: 25%;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    margin: 20px 0;
    background-image: url('../images/foto-manha.jpg');
    background-position: center center;
    background-size: cover;
}